@import "tailwindcss";
@import "@nuxt/ui";

@theme {
  --animate-infinite-scroll: infinite-scroll 20s linear infinite;

  @keyframes infinite-scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-25%);
    }
  }
}

@theme static {


  /* fern_green */
  --color-fern_green-50: #e0e8d8;
  --color-fern_green-100: #c0d0b1;
  --color-fern_green-200: #a1b98a;
  --color-fern_green-300: #82a263;
  --color-fern_green-400: #647e4b;
  --color-fern_green-500: #4f633c;
  --color-fern_green-600: #3b4b2d;
  --color-fern_green-700: #27321e;
  --color-fern_green-800: #14190f;
  --color-fern_green-900: #0a0f08;

  /* flame */
  --color-flame-50: #fbdcd2;
  --color-flame-100: #f6b9a4;
  --color-flame-200: #f29577;
  --color-flame-300: #ed7249;
  --color-flame-400: #e94e1b;
  --color-flame-500: #bd3d13;
  --color-flame-600: #8e2e0e;
  --color-flame-700: #5f1f09;
  --color-flame-800: #2f0f05;

  /* eerie_black */
  --color-eerie_black-50: #d0d1d4;
  --color-eerie_black-100: #a1a4aa;
  --color-eerie_black-200: #72767e;
  --color-eerie_black-300: #484a4f;
  --color-eerie_black-400: #1c1d1f;
  --color-eerie_black-500: #17181a;
  --color-eerie_black-600: #111213;
  --color-eerie_black-700: #0c0c0d;
  --color-eerie_black-800: #060606;

  /* white */
  --color-white-50: #fefeff;
  --color-white-100: #fdfeff;
  --color-white-200: #fdfdfe;
  --color-white-300: #fcfdfe;
  --color-white-400: #fbfcfe;
  --color-white-500: #EFEFEF;
  --color-white-600: #DCDCDC;
  --color-white-700: #CBCBCB;
  --color-white-800: #B6B6B6;
  --color-white-900: #A7A7A7;

}

:root {
  font-family: 'Roca', sans-serif;

  --ui-primary: var(--ui-color-secondary-400);
  --ui-secondary: var(--ui-color-secondary-400);
  --ui-accent: var(--ui-color-accent-400);
  --ui-neutral: var(--ui-color-neutral-400);
  --ui-success: var(--ui-color-success-500);
  --ui-info: var(--ui-color-info-500);
  --ui-warning: var(--ui-color-warning-500);
  --ui-error: var(--ui-color-error-500);

  --ui-text-dimmed: var(--ui-color-neutral-700);
  --ui-text-muted: var(--ui-color-neutral-400);
  --ui-text-toned: var(--ui-color-accent-400);
  --ui-text: var(--ui-color-secondary-400);
  --ui-text-highlighted: var(--ui-color-secondary-400);
  --ui-text-inverted: var(--ui-color-neutral-400);

  --ui-bg: var(--ui-color-neutral-400);
  --ui-bg-muted: var(--ui-color-secondary-50);
  --ui-bg-elevated: var(--ui-color-primary-800);
  --ui-bg-accented: var(--ui-color-secondary-500);
  --ui-bg-inverted: var(--ui-color-neutral-800);

  --ui-border: var(--ui-color-primary-300);
  --ui-border-muted: var(--ui-color-neutral-800);
  --ui-border-accented: var(--ui-color-neutral-800);
  --ui-border-inverted: var(--ui-color-neutral-800);
}
